<h1>Cliquer sur le Sign up</h1>


<% if user_signed_in? %>
    <li><%= current_user.username %></li>
    <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li><br/>
    <li><%= link_to 'Log In', new_user_session_path %></li>
<% end %>
</ul>
