body
{
  // On crée un flexbox
  display: flex;
  // On centre horizontalement
  justify-content: center;
  // On centre verti
  //align-items: center;
  background: asset-data-url('1.jpeg') fixed;
}

.container
{
  display: flex;
  background-color :white;
  width: 49rem;
  margin-top: 10rem;
  height: 31rem;
  border-radius: 6px;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}

.container > div
{

}

// On prend la première div en dessous du container
.container > div:first-child
{
  padding: 20px;
	background-color :rgb(72,154,247);
  //largeur de la div
  width: 51%;
  // texte en blanc
  color :white;
  border-radius: 6px 0px 0px 6px;
}

.h1
{
  font-size: 50px;
	padding-bottom: 5px;
}

.container form input[type=submit]
{
  border: none;
  color: white;
  padding: 15px 66px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  background-color: rgb(72,154,247);
  color: white;
  text-decoration: none;
}

.formulaire
{
//   padding: 20px;
margin-left: 40px;
margin-top: 50px;
}


.connexion
{
  background-color: rgb(170, 170, 170);
  height: 68px;
  width: 345px;
  margin-top: 118px;
  text-align: center;
  padding-top: 30px;
  border-radius: 0px 0px 6px 0px;
}



//
//
// body
// {
//   display: flex;
//   justify-content: center;
//   // align-items: center;
//   background-color: rgb(135, 149, 133);
// }
//
// .container
// {
//   display: flex;
//   background-color: white;
//   width: 40rem;
//   margin-top: 10rem;
//   height: 25rem;
//   border-radius: 5px;
//
// }
//
// .container > div
// {
//   // padding: 20px;
// }
//
// .formulaire
// {
//   padding: 20px;
//   margin-top: 25px;
// }
//
// .container > div:first-child
// {
//     background-color: rgb(48, 149, 207);
//   width: 55%;
//   color: white;
//   border-radius: 5px 0px 0px 5px;
//   padding-left: 20px;
//
// }
//
// .container form input[type=submit]
// {
//   background-color: rgb(48, 149, 207);
//   color: white;
//   height: 30px;
//   width: 173px;
//   margin-top: 10px;
//   border-radius: 5px;
// }
//
// .créeruncompte
// {
//
//
//   background-color: rgb(170, 170, 170);
//   height: 55px;
//   width: 270px;
//   color: white;
//   margin-top: 85px;
//   text-align: center;
//   padding-top: 30px;
// }
//
//
// .field
// {
//   // width: 300px;
// }
